# Mortgage Acquisition

In [1]:
import pandas as pd
import numpy as np

# Load Data

In [2]:
#Acquisition column names
acq_colms= ["LoanIdentifier","OriginationChannel", "SellerName", "OriginalInterestRate",
            "OriginalUPB", "OriginalLoanTerm", "OriginationDate", "FirstPaymentDate",
            "OriginalLoanToValueLTV","OriginalCombinedLoanToValueCLTV", "NumberofBorrowers", "OriginalDebtToIncomeRatio",
            "BorrowerCreditScoreAtOrigination", "FirstTimeHomeBuyerIndicator", "LoanPurpose",
            "PropertyType", "NumberOfUnits", "OccupancyType", "PropertyState", "ZipCodeShort",
            "PrimaryMortgageInsurancePercent", "ProductType", "CoBorrowerCreditScoreAtOrigination",
            "MortgageInsuranceType", "RelocationMortgageIndicator"];

In [3]:
data2015Q1= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2015Q1.txt', sep="|", header=None, names=acq_colms)
data2015Q2= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2015Q2.txt', sep="|", header=None, names=acq_colms)
data2015Q3= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2015Q3.txt', sep="|", header=None, names=acq_colms)
data2015Q4= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2015Q4.txt', sep="|", header=None, names=acq_colms)
data2016Q1= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2016Q1.txt', sep="|", header=None, names=acq_colms)
data2016Q2= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2016Q2.txt', sep="|", header=None, names=acq_colms)
data2016Q3= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2016Q3.txt', sep="|", header=None, names=acq_colms)
data2016Q4= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2016Q4.txt', sep="|", header=None, names=acq_colms)
data2017Q1= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2017Q1.txt', sep="|", header=None, names=acq_colms)
data2017Q2= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2017Q2.txt', sep="|", header=None, names=acq_colms)
data2017Q3= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2017Q3.txt', sep="|", header=None, names=acq_colms)
data2017Q4= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2017Q4.txt', sep="|", header=None, names=acq_colms)
data2018Q1= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2018Q1.txt', sep="|", header=None, names=acq_colms)
data2018Q2= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2018Q2.txt', sep="|", header=None, names=acq_colms)
data2018Q3= pd.read_csv('RawData/FannieMae_SingleFamily/Acquisition_2018Q3.txt', sep="|", header=None, names=acq_colms)

In [4]:
#See All Columns
pd.set_option('display.max_columns', 999)
data2015Q1

,LoanIdentifier,OriginationChannel,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,OriginalCombinedLoanToValueCLTV,NumberofBorrowers,OriginalDebtToIncomeRatio,BorrowerCreditScoreAtOrigination,FirstTimeHomeBuyerIndicator,LoanPurpose,PropertyType,NumberOfUnits,OccupancyType,PropertyState,ZipCodeShort,PrimaryMortgageInsurancePercent,ProductType,CoBorrowerCreditScoreAtOrigination,MortgageInsuranceType,RelocationMortgageIndicator
0,100002091588,R,OTHER,4.125,345000,360,12/2014,02/2015,95,95,1,32.0,652.0,N,P,PU,1,P,NC,282,30.0,FRM,NaN,1.0,N
1,100004219574,R,"WELLS FARGO BANK, N.A.",4.125,293000,312,12/2014,02/2015,77,77,2,34.0,732.0,N,R,PU,1,P,IL,605,NaN,FRM,723.0,NaN,N
2,100004457300,C,"WELLS FARGO BANK, N.A.",3.875,304000,360,11/2014,01/2015,80,80,1,42.0,813.0,N,P,SF,1,P,GA,300,NaN,FRM,NaN,NaN,N
3,100006803390,R,OTHER,4.375,110000,360,10/2014,12/2014,65,65,2,28.0,760.0,N,C,SF,1,P,VA,229,NaN,FRM,736.0,NaN,N
4,100008763886,R,QUICKEN LOANS INC.,4.375,325000,348,01/2015,03/2015,72,72,2,29.0,734.0,N,R,SF,1,P,CA,936,NaN,FRM,797.0,NaN,N
5,100013998431,R,"CITIMORTGAGE, INC.",3.125,129000,180,03/2015,05/2015,86,86,2,34.0,797.0,N,R,SF,1,P,WI,549,12.0,FRM,793.0,1.0,N
6,100013999247,R,OTHER,4.125,80000,360,12/2014,02/2015,38,38,2,35.0,738.0,N,C,SF,1,P,IN,461,NaN,FRM,753.0,NaN,N
7,100014873002,R,QUICKEN LOANS INC.,4.375,399000,360,02/2015,04/2015,95,95,2,35.0,741.0,N,R,SF,1,P,PA,194,30.0,FRM,740.0,2.0,N
8,100020572903,R,OTHER,4.250,348000,360,01/2015,03/2015,70,70,1,42.0,726.0,Y,P,SF,1,P,TX,787,NaN,FRM,NaN,NaN,N
9,100023998128,R,OTHER,4.125,125000,360,01/2015,03/2015,61,61,1,49.0,806.0,N,P,SF,1,S,FL,321,NaN,FRM,NaN,NaN,N
10,100025166239,B,OTHER,4.000,560000,360,03/2015,05/2015,66,66,2,43.0,750.0,N,R,PU,1,P,CA,913,NaN,FRM,756.0,NaN,N
11,100025408233,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.500,437000,360,02/2015,04/2015,42,42,2,43.0,678.0,N,C,PU,1,P,CA,921,NaN,FRM,730.0,NaN,N
12,100025484691,C,"WELLS FARGO BANK, N.A.",3.750,198000,180,11/2014,01/2015,61,61,2,24.0,810.0,N,R,SF,1,P,OR,972,NaN,FRM,806.0,NaN,N
13,100032020439,R,"NATIONSTAR MORTGAGE, LLC",3.875,268000,360,02/2015,04/2015,78,78,1,37.0,689.0,N,R,PU,1,P,NV,890,NaN,FRM,NaN,NaN,N
14,100032957124,R,OTHER,3.875,417000,360,03/2015,05/2015,37,37,2,41.0,729.0,N,C,SF,1,P,CA,951,NaN,FRM,730.0,NaN,N
15,100034046174,C,"WELLS FARGO BANK, N.A.",3.750,240000,360,01/2015,03/2015,79,79,2,41.0,781.0,N,R,SF,1,P,WI,543,NaN,FRM,788.0,NaN,N
16,100040063822,R,OTHER,4.375,521000,360,12/2014,02/2015,90,90,2,23.0,783.0,Y,P,SF,1,P,VA,220,25.0,FRM,807.0,2.0,N
17,100047753781,R,QUICKEN LOANS INC.,4.875,89000,360,02/2015,04/2015,95,95,1,38.0,715.0,Y,P,SF,1,P,PA,190,30.0,FRM,NaN,2.0,N
18,100051904183,R,OTHER,4.000,261000,360,02/2015,04/2015,95,95,2,36.0,662.0,N,P,SF,1,P,KY,400,30.0,FRM,767.0,1.0,N
19,100056119104,C,OTHER,4.375,120000,360,12/2014,02/2015,89,89,1,20.0,759.0,N,R,SF,1,P,MA,11,25.0,FRM,NaN,1.0,N
20,100056519703,C,"WELLS FARGO BANK, N.A.",4.500,249000,360,11/2014,01/2015,95,95,1,36.0,718.0,Y,P,SF,1,P,IL,604,30.0,FRM,NaN,1.0,N
21,100056908658,R,OTHER,3.750,90000,180,12/2014,02/2015,60,60,2,37.0,693.0,N,P,SF,1,P,NC,284,NaN,FRM,666.0,NaN,N
22,100060709814,B,OTHER,3.000,97000,120,11/2014,01/2015,65,65,2,40.0,800.0,N,R,SF,1,P,MN,560,NaN,FRM,798.0,NaN,N
23,100065210378,R,OTHER,4.750,38000,360,01/2015,03/2015,75,75,2,18.0,786.0,N,P,SF,1,I,MI,483,NaN,FRM,782.0,NaN,N
24,100067348924,C,"FLAGSTAR BANK, FSB",4.500,124000,360,12/2014,02/2015,75,75,1,44.0,724.0,N,P,SF,1,I,CA,953,NaN,FRM,NaN,NaN,N
25,100067509643,R,OTHER,4.000,74000,360,12/2014,02/2015,70,70,1,33.0,786.0,N,P,CO,1,S,FL,334,NaN,FRM,NaN,NaN,N
26,100069006576,R,OTHER,4.125,102000,360,12/2014,02/2015,80,80,1,42.0,812.0,N,P,SF,1,P,GA,306,NaN,FRM,NaN,NaN,N
27,100072001017,R,"WELLS FARGO BANK, N.A.",4.125,230000,360,12/2014,02/2015,80,80,2,34.0,788.0,Y,P,PU,1,P,AZ,850,NaN,FRM,784.0,NaN,N
28,100075787935,R,OTHER,3.875,401000,360,03/2015,04/2015,95,95,2,35.0,750.0,N,R,SF,1,P,MA,15,30.0,FRM,766.0,1.0,N
29,100075866613,R,"WELLS FARGO BANK, N.A.",3.500,373000,180,12/2014,02/2015,55,55,1,31.0,651.0,N,R,PU,1,P,WA,980,NaN,FRM,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436317,999940138120,C,FRANKLIN AMERICAN MORTGAGE COMPANY,4.250,102000,360,12/2014,02/2015,80,80,1,37.0,710.0,N,R,SF,1,P,NE,688,NaN,FRM,NaN,NaN,N
436318,999945222710,R,OTHER,3.990,275000,360,01/2015,03/2015,78,78,2,31.0,801.0,N,R,SF,1,P,CA,921,NaN,FRM,818.0,NaN,N
436319,999946010064,R,"WELLS FARGO BANK, N.A.",3.875,127000,360,02/2015,04/2015,30,30,2,26.0,790.0,N,C,PU,1,P,AZ,850,NaN,FRM,808.0,NaN,N
436320,999946839515,C,OTHER,2.900,126000,180,03/2015,05/2015,64,64,2,21.0,806.0,N,R,SF,1,S,MN,560,NaN,FRM,783.0,NaN,N
436321,999948202152,R,OTHER,4.125,102000,360,02/2015,04/2015,87,87,2,34.0,769.0,N,R,CO,1,P,MI,488,25.0,FRM,802.0,1.0,N
436322,999948431921,C,DITECH FINANCIAL LLC,3.875,175000,360,01/2015,03/2015,31,31,1,28.0,694.0,N,C,SF,1,P,PA,191,NaN,FRM,NaN,NaN,N
436323,999951083559,R,"WELLS FARGO BANK, N.A.",3.875,476000,360,01/2015,03/2015,80,80,1,31.0,793.0,Y,P,CP,1,P,NY,100,NaN,FRM,NaN,NaN,N
436324,999952387369,C,FREEDOM MORTGAGE CORP.,3.250,150000,180,12/2014,02/2015,77,77,2,22.0,808.0,N,R,SF,1,P,NH,33,NaN,FRM,797.0,NaN,N
436325,999955334740,R,QUICKEN LOANS INC.,4.125,103000,360,02/2015,05/2015,55,55,2,21.0,791.0,N,R,SF,1,P,CA,953,NaN,FRM,788.0,NaN,N
436326,999957400511,R,"WELLS FARGO BANK, N.A.",3.875,104000,180,12/2014,02/2015,57,57,2,32.0,687.0,N,R,SF,1,P,NC,278,NaN,FRM,782.0,NaN,N
436327,999958442691,R,QUICKEN LOANS INC.,3.990,80000,180,01/2015,03/2015,53,53,2,16.0,750.0,N,C,SF,1,P,OH,437,NaN,FRM,760.0,NaN,N
436328,999959841658,C,OTHER,3.875,328000,360,02/2015,04/2015,80,80,1,28.0,784.0,N,C,SF,1,P,MD,217,NaN,FRM,NaN,NaN,N
436329,999960756285,B,QUICKEN LOANS INC.,3.875,360000,360,02/2015,04/2015,80,80,1,45.0,801.0,N,P,CO,1,P,NY,105,NaN,FRM,NaN,NaN,N
436330,999960923263,C,PENNYMAC CORP.,4.125,312000,360,02/2015,05/2015,80,80,2,44.0,801.0,N,C,SF,1,P,OR,972,NaN,FRM,801.0,NaN,N
436331,999968496824,B,OTHER,4.250,90000,360,02/2015,04/2015,90,90,1,45.0,802.0,Y,P,PU,1,P,TX,770,25.0,FRM,NaN,1.0,N
436332,999974832924,R,OTHER,3.875,51000,180,01/2015,03/2015,30,30,2,42.0,777.0,N,R,SF,1,I,WI,535,NaN,FRM,743.0,NaN,N
436333,999979779528,R,QUICKEN LOANS INC.,4.990,210000,312,12/2014,02/2015,95,95,2,35.0,746.0,N,R,SF,1,P,PA,175,30.0,FRM,685.0,2.0,N
436334,999981982893,R,"WELLS FARGO BANK, N.A.",4.750,195000,360,12/2014,02/2015,95,95,2,33.0,665.0,N,P,SF,1,P,NJ,72,30.0,FRM,678.0,1.0,N
436335,999982071596,R,OTHER,3.750,165000,180,02/2015,04/2015,70,70,1,31.0,623.0,N,C,PU,1,I,NV,891,NaN,FRM,NaN,NaN,N
436336,999982094355,R,QUICKEN LOANS INC.,4.750,61000,360,01/2015,03/2015,68,68,2,34.0,738.0,Y,P,SF,1,P,LA,705,NaN,FRM,754.0,NaN,N
436337,999984349154,R,QUICKEN LOANS INC.,2.990,475000,180,02/2015,04/2015,49,49,2,30.0,793.0,N,R,SF,1,P,CA,951,NaN,FRM,779.0,NaN,N
436338,999984720190,R,OTHER,3.625,312000,360,03/2015,05/2015,80,80,2,50.0,790.0,N,P,PU,1,P,GA,310,NaN,FRM,790.0,NaN,N
436339,999985782121,R,QUICKEN LOANS INC.,3.990,78000,180,01/2015,03/2015,56,56,1,39.0,759.0,N,C,SF,1,P,NY,119,NaN,FRM,NaN,NaN,N
436340,999986111788,R,OTHER,3.125,255000,180,02/2015,04/2015,78,78,2,25.0,778.0,N,R,SF,1,P,KY,400,NaN,FRM,802.0,NaN,N
436341,999986985038,R,OTHER,4.000,188000,360,02/2015,04/2015,75,75,2,50.0,751.0,N,P,SF,1,I,WA,980,NaN,FRM,747.0,NaN,N
436342,999989599012,C,"FLAGSTAR BANK, FSB",4.250,288000,360,01/2015,03/2015,95,95,2,32.0,722.0,N,P,SF,1,P,MT,594,30.0,FRM,747.0,2.0,N
436343,999994139983,R,"WELLS FARGO BANK, N.A.",3.875,105000,180,02/2015,04/2015,80,80,2,32.0,759.0,N,C,SF,1,P,AL,366,NaN,FRM,764.0,NaN,N
436344,999994368149,C,"WELLS FARGO BANK, N.A.",5.000,111000,360,11/2014,01/2015,70,70,1,40.0,671.0,Y,P,SF,1,P,FL,330,NaN,FRM,NaN,NaN,N
436345,999995663005,R,OTHER,2.625,330000,120,03/2015,05/2015,45,45,1,19.0,778.0,N,R,PU,1,P,CO,801,NaN,FRM,NaN,NaN,N
436346,999995696635,R,OTHER,4.500,150000,360,01/2015,03/2015,92,92,1,43.0,775.0,N,R,CO,1,P,CO,800,30.0,FRM,NaN,2.0,N

In [5]:
#column data type
data2015Q1.dtypes

LoanIdentifier                          int64
OriginationChannel                     object
SellerName                             object
OriginalInterestRate                  float64
OriginalUPB                             int64
OriginalLoanTerm                        int64
OriginationDate                        object
FirstPaymentDate                       object
OriginalLoanToValueLTV                  int64
OriginalCombinedLoanToValueCLTV         int64
NumberofBorrowers                       int64
OriginalDebtToIncomeRatio             float64
BorrowerCreditScoreAtOrigination      float64
FirstTimeHomeBuyerIndicator            object
LoanPurpose                            object
PropertyType                           object
NumberOfUnits                           int64
OccupancyType                          object
PropertyState                          object
ZipCodeShort                            int64
PrimaryMortgageInsurancePercent       float64
ProductType                            object
CoBorrowerCreditScoreAtOrigination    float64
MortgageInsuranceType                 float64
RelocationMortgageIndicator            object
dtype: object

# Concatenate All Files

In [6]:
#Concatenate Data
concatdata= pd.concat([data2015Q1,data2015Q2,data2015Q3,data2015Q4,data2016Q1,data2016Q2,data2016Q3,data2016Q4,
                      data2017Q1,data2017Q2,data2017Q3,data2017Q4,data2018Q1,data2018Q2,data2018Q3], join="inner")

In [7]:
#Drop Any duplicate rows by LoanIds.
concatdata.drop_duplicates(['LoanIdentifier'])

,LoanIdentifier,OriginationChannel,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,OriginalCombinedLoanToValueCLTV,NumberofBorrowers,OriginalDebtToIncomeRatio,BorrowerCreditScoreAtOrigination,FirstTimeHomeBuyerIndicator,LoanPurpose,PropertyType,NumberOfUnits,OccupancyType,PropertyState,ZipCodeShort,PrimaryMortgageInsurancePercent,ProductType,CoBorrowerCreditScoreAtOrigination,MortgageInsuranceType,RelocationMortgageIndicator
0,100002091588,R,OTHER,4.125,345000,360,12/2014,02/2015,95,95.0,1,32.0,652.0,N,P,PU,1,P,NC,282,30.0,FRM,NaN,1.0,N
1,100004219574,R,"WELLS FARGO BANK, N.A.",4.125,293000,312,12/2014,02/2015,77,77.0,2,34.0,732.0,N,R,PU,1,P,IL,605,NaN,FRM,723.0,NaN,N
2,100004457300,C,"WELLS FARGO BANK, N.A.",3.875,304000,360,11/2014,01/2015,80,80.0,1,42.0,813.0,N,P,SF,1,P,GA,300,NaN,FRM,NaN,NaN,N
3,100006803390,R,OTHER,4.375,110000,360,10/2014,12/2014,65,65.0,2,28.0,760.0,N,C,SF,1,P,VA,229,NaN,FRM,736.0,NaN,N
4,100008763886,R,QUICKEN LOANS INC.,4.375,325000,348,01/2015,03/2015,72,72.0,2,29.0,734.0,N,R,SF,1,P,CA,936,NaN,FRM,797.0,NaN,N
5,100013998431,R,"CITIMORTGAGE, INC.",3.125,129000,180,03/2015,05/2015,86,86.0,2,34.0,797.0,N,R,SF,1,P,WI,549,12.0,FRM,793.0,1.0,N
6,100013999247,R,OTHER,4.125,80000,360,12/2014,02/2015,38,38.0,2,35.0,738.0,N,C,SF,1,P,IN,461,NaN,FRM,753.0,NaN,N
7,100014873002,R,QUICKEN LOANS INC.,4.375,399000,360,02/2015,04/2015,95,95.0,2,35.0,741.0,N,R,SF,1,P,PA,194,30.0,FRM,740.0,2.0,N
8,100020572903,R,OTHER,4.250,348000,360,01/2015,03/2015,70,70.0,1,42.0,726.0,Y,P,SF,1,P,TX,787,NaN,FRM,NaN,NaN,N
9,100023998128,R,OTHER,4.125,125000,360,01/2015,03/2015,61,61.0,1,49.0,806.0,N,P,SF,1,S,FL,321,NaN,FRM,NaN,NaN,N
10,100025166239,B,OTHER,4.000,560000,360,03/2015,05/2015,66,66.0,2,43.0,750.0,N,R,PU,1,P,CA,913,NaN,FRM,756.0,NaN,N
11,100025408233,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.500,437000,360,02/2015,04/2015,42,42.0,2,43.0,678.0,N,C,PU,1,P,CA,921,NaN,FRM,730.0,NaN,N
12,100025484691,C,"WELLS FARGO BANK, N.A.",3.750,198000,180,11/2014,01/2015,61,61.0,2,24.0,810.0,N,R,SF,1,P,OR,972,NaN,FRM,806.0,NaN,N
13,100032020439,R,"NATIONSTAR MORTGAGE, LLC",3.875,268000,360,02/2015,04/2015,78,78.0,1,37.0,689.0,N,R,PU,1,P,NV,890,NaN,FRM,NaN,NaN,N
14,100032957124,R,OTHER,3.875,417000,360,03/2015,05/2015,37,37.0,2,41.0,729.0,N,C,SF,1,P,CA,951,NaN,FRM,730.0,NaN,N
15,100034046174,C,"WELLS FARGO BANK, N.A.",3.750,240000,360,01/2015,03/2015,79,79.0,2,41.0,781.0,N,R,SF,1,P,WI,543,NaN,FRM,788.0,NaN,N
16,100040063822,R,OTHER,4.375,521000,360,12/2014,02/2015,90,90.0,2,23.0,783.0,Y,P,SF,1,P,VA,220,25.0,FRM,807.0,2.0,N
17,100047753781,R,QUICKEN LOANS INC.,4.875,89000,360,02/2015,04/2015,95,95.0,1,38.0,715.0,Y,P,SF,1,P,PA,190,30.0,FRM,NaN,2.0,N
18,100051904183,R,OTHER,4.000,261000,360,02/2015,04/2015,95,95.0,2,36.0,662.0,N,P,SF,1,P,KY,400,30.0,FRM,767.0,1.0,N
19,100056119104,C,OTHER,4.375,120000,360,12/2014,02/2015,89,89.0,1,20.0,759.0,N,R,SF,1,P,MA,11,25.0,FRM,NaN,1.0,N
20,100056519703,C,"WELLS FARGO BANK, N.A.",4.500,249000,360,11/2014,01/2015,95,95.0,1,36.0,718.0,Y,P,SF,1,P,IL,604,30.0,FRM,NaN,1.0,N
21,100056908658,R,OTHER,3.750,90000,180,12/2014,02/2015,60,60.0,2,37.0,693.0,N,P,SF,1,P,NC,284,NaN,FRM,666.0,NaN,N
22,100060709814,B,OTHER,3.000,97000,120,11/2014,01/2015,65,65.0,2,40.0,800.0,N,R,SF,1,P,MN,560,NaN,FRM,798.0,NaN,N
23,100065210378,R,OTHER,4.750,38000,360,01/2015,03/2015,75,75.0,2,18.0,786.0,N,P,SF,1,I,MI,483,NaN,FRM,782.0,NaN,N
24,100067348924,C,"FLAGSTAR BANK, FSB",4.500,124000,360,12/2014,02/2015,75,75.0,1,44.0,724.0,N,P,SF,1,I,CA,953,NaN,FRM,NaN,NaN,N
25,100067509643,R,OTHER,4.000,74000,360,12/2014,02/2015,70,70.0,1,33.0,786.0,N,P,CO,1,S,FL,334,NaN,FRM,NaN,NaN,N
26,100069006576,R,OTHER,4.125,102000,360,12/2014,02/2015,80,80.0,1,42.0,812.0,N,P,SF,1,P,GA,306,NaN,FRM,NaN,NaN,N
27,100072001017,R,"WELLS FARGO BANK, N.A.",4.125,230000,360,12/2014,02/2015,80,80.0,2,34.0,788.0,Y,P,PU,1,P,AZ,850,NaN,FRM,784.0,NaN,N
28,100075787935,R,OTHER,3.875,401000,360,03/2015,04/2015,95,95.0,2,35.0,750.0,N,R,SF,1,P,MA,15,30.0,FRM,766.0,1.0,N
29,100075866613,R,"WELLS FARGO BANK, N.A.",3.500,373000,180,12/2014,02/2015,55,55.0,1,31.0,651.0,N,R,PU,1,P,WA,980,NaN,FRM,NaN,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449114,999962361460,C,OTHER,4.875,180000,360,04/2018,06/2018,71,71.0,1,44.0,757.0,N,P,PU,1,P,TX,750,NaN,FRM,NaN,NaN,N
449115,999963250337,C,OTHER,4.000,198000,360,06/2018,08/2018,90,90.0,1,37.0,733.0,Y,P,SF,1,P,CT,60,12.0,FRM,NaN,1.0,N
449116,999964424489,B,OTHER,5.625,90000,360,06/2018,08/2018,80,80.0,1,40.0,780.0,N,P,MH,1,S,AZ,864,NaN,FRM,NaN,NaN,N
449117,999967044443,R,OTHER,4.875,184000,360,06/2018,08/2018,80,80.0,2,43.0,710.0,N,P,SF,1,P,NC,275,NaN,FRM,701.0,NaN,N
449118,999969552447,R,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",3.875,128000,180,08/2018,10/2018,80,80.0,2,47.0,770.0,N,P,SF,1,S,TX,786,NaN,FRM,765.0,NaN,N
449119,999972160532,R,PENNYMAC CORP.,4.750,124000,360,08/2018,10/2018,71,71.0,1,33.0,771.0,N,C,SF,1,P,GA,306,NaN,FRM,NaN,NaN,N
449120,999972288108,B,"HOMEBRIDGE FINANCIAL SERVICES, INC.",4.625,104000,180,08/2018,10/2018,29,29.0,2,28.0,784.0,N,C,SF,1,P,NJ,77,NaN,FRM,764.0,NaN,N
449121,999975142033,C,OTHER,4.750,250000,360,08/2018,10/2018,87,87.0,2,41.0,815.0,N,P,SF,1,P,NC,283,25.0,FRM,793.0,1.0,N
449122,999975355301,R,SUNTRUST BANK,4.750,188000,360,06/2018,08/2018,80,80.0,1,22.0,705.0,Y,P,SF,1,P,MD,212,NaN,FRM,NaN,NaN,N
449123,999976389963,C,"WELLS FARGO BANK, N.A.",4.500,360000,360,06/2018,08/2018,90,90.0,1,37.0,773.0,N,P,SF,1,P,PA,193,25.0,FRM,NaN,1.0,N
449124,999976656364,R,OTHER,4.750,369000,360,08/2018,10/2018,90,90.0,1,45.0,763.0,N,P,PU,1,P,WA,984,25.0,FRM,NaN,1.0,N
449125,999979035879,R,QUICKEN LOANS INC.,4.990,245000,360,07/2018,09/2018,75,75.0,1,41.0,725.0,N,R,PU,1,P,TN,370,NaN,FRM,NaN,NaN,N
449126,999980823111,C,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.625,280000,360,06/2018,08/2018,79,79.0,1,19.0,777.0,N,C,PU,1,P,GA,301,NaN,FRM,NaN,NaN,N
449127,999982353933,C,OTHER,4.875,116000,360,06/2018,08/2018,78,78.0,2,23.0,763.0,N,C,SF,1,P,TX,773,NaN,FRM,776.0,NaN,N
449128,999982383939,R,"NATIONSTAR MORTGAGE, LLC",5.000,148000,360,08/2018,10/2018,55,55.0,2,46.0,702.0,N,C,SF,1,I,TN,385,NaN,FRM,680.0,NaN,N
449129,999985136568,R,OTHER,4.875,220000,360,08/2018,10/2018,80,80.0,2,40.0,709.0,N,P,SF,1,S,UT,847,NaN,FRM,787.0,NaN,N
449130,999986954122,B,PENNYMAC CORP.,5.250,192000,360,05/2018,07/2018,80,80.0,1,37.0,807.0,N,P,PU,1,I,AZ,850,NaN,FRM,NaN,NaN,N
449131,999989105099,C,OTHER,5.000,269000,360,08/2018,10/2018,80,80.0,1,42.0,724.0,N,C,PU,1,P,MT,597,NaN,FRM,NaN,NaN,N
449132,999989251717,C,OTHER,4.875,140000,360,07/2018,09/2018,85,85.0,1,21.0,757.0,Y,P,SF,1,P,NE,681,12.0,FRM,NaN,1.0,N
449133,999989399171,R,OTHER,4.875,162000,360,07/2018,09/2018,93,93.0,2,29.0,716.0,N,P,SF,1,P,IL,609,30.0,FRM,718.0,1.0,N
449134,999989946003,B,OTHER,4.750,135000,360,08/2018,10/2018,95,95.0,1,34.0,800.0,Y,P,SF,1,P,IN,471,30.0,FRM,NaN,1.0,N
449135,999991313543,C,FREEDOM MORTGAGE CORP.,4.500,347000,360,08/2018,10/2018,95,95.0,1,35.0,689.0,N,P,PU,1,P,WA,992,30.0,FRM,NaN,1.0,N
449136,999992909092,C,U.S. BANK N.A.,5.750,236000,360,06/2018,08/2018,97,100.0,1,49.0,792.0,Y,P,PU,1,P,NV,891,18.0,FRM,NaN,1.0,N
449137,999993109200,R,"WELLS FARGO BANK, N.A.",4.250,229000,360,06/2018,08/2018,85,85.0,2,19.0,800.0,Y,P,SF,1,P,PA,152,12.0,FRM,787.0,1.0,N
449138,999994412360,R,OTHER,4.375,420000,360,08/2018,10/2018,70,70.0,1,26.0,804.0,N,P,SF,1,P,CO,802,NaN,FRM,NaN,NaN,N
449139,999994662750,R,FAIRWAY INDEPENDENT MORTGAGE CORPORATION,5.500,86000,360,07/2018,09/2018,80,80.0,2,11.0,773.0,Y,P,MH,1,P,OH,444,NaN,FRM,723.0,NaN,N
449140,999994825330,R,OTHER,4.250,72000,360,05/2018,07/2018,85,85.0,2,17.0,764.0,Y,P,SF,1,P,IN,466,12.0,FRM,819.0,1.0,N
449141,999994889124,R,OTHER,4.625,136000,360,06/2018,08/2018,80,80.0,1,27.0,697.0,Y,P,PU,1,P,IL,605,NaN,FRM,NaN,NaN,N
449142,999997895813,R,OTHER,4.375,284000,360,08/2018,10/2018,85,85.0,1,48.0,790.0,N,P,PU,1,P,AR,727,12.0,FRM,NaN,1.0,N
449143,999999159707,B,OTHER,5.250,810000,360,06/2018,08/2018,58,58.0,2,46.0,719.0,N,C,SF,4,I,CA,940,NaN,FRM,713.0,NaN,N

### Scope: Single Family, Principal Residence and Purchase Only

In [8]:
#Filter Single Family, Principal Residence and Purchase Only
acq_filter= concatdata[(concatdata.PropertyType=='SF')&(concatdata.OccupancyType=='P') & (concatdata.LoanPurpose=='P')] 

# Change First Time Home Buyer to Boolean
acq_filter['FirstTimeHomeBuyerIndicator'].replace(['N','Y'],[0,1], inplace=True)

#Fill NaN with 0 for Co-Borrower Credit Score
acq_filter['CoBorrowerCreditScoreAtOrigination'].fillna(0, inplace=True)

#Fill NaN with 0 for Primary Mortgage Insurance Percent (PMI)
acq_filter['PrimaryMortgageInsurancePercent'].fillna(0, inplace=True)

acq_filter.head()

D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6586: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)
D:\Anaconda3\lib\site-packages\pandas\core\generic.py:6130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

,LoanIdentifier,OriginationChannel,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,OriginalCombinedLoanToValueCLTV,NumberofBorrowers,OriginalDebtToIncomeRatio,BorrowerCreditScoreAtOrigination,FirstTimeHomeBuyerIndicator,LoanPurpose,PropertyType,NumberOfUnits,OccupancyType,PropertyState,ZipCodeShort,PrimaryMortgageInsurancePercent,ProductType,CoBorrowerCreditScoreAtOrigination,MortgageInsuranceType,RelocationMortgageIndicator
0,100002091588,R,OTHER,4.125,345000,360,12/2014,02/2015,95,95.0,1,32.0,652.0,0,P,PU,1,P,NC,282,30.0,FRM,0.0,1.0,N
2,100004457300,C,"WELLS FARGO BANK, N.A.",3.875,304000,360,11/2014,01/2015,80,80.0,1,42.0,813.0,0,P,SF,1,P,GA,300,0.0,FRM,0.0,NaN,N
8,100020572903,R,OTHER,4.250,348000,360,01/2015,03/2015,70,70.0,1,42.0,726.0,1,P,SF,1,P,TX,787,0.0,FRM,0.0,NaN,N
16,100040063822,R,OTHER,4.375,521000,360,12/2014,02/2015,90,90.0,2,23.0,783.0,1,P,SF,1,P,VA,220,25.0,FRM,807.0,2.0,N
17,100047753781,R,QUICKEN LOANS INC.,4.875,89000,360,02/2015,04/2015,95,95.0,1,38.0,715.0,1,P,SF,1,P,PA,190,30.0,FRM,0.0,2.0,N

# New DF

In [9]:
#New DF Single Family, Only Purchases and Primary Residence
acq_clean= pd.DataFrame(
    acq_filter, columns=['LoanIdentifier','SellerName','OriginalInterestRate','OriginalUPB','OriginalLoanTerm','OriginationDate',
                       'FirstPaymentDate','OriginalLoanToValueLTV','PrimaryMortgageInsurancePercent','OriginalDebtToIncomeRatio','PropertyType','NumberofBorrowers','FirstTimeHomeBuyerIndicator',
                       'BorrowerCreditScoreAtOrigination', 'PropertyState','ZipCodeShort','CoBorrowerCreditScoreAtOrigination'])
acq_clean

,LoanIdentifier,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,PrimaryMortgageInsurancePercent,OriginalDebtToIncomeRatio,PropertyType,NumberofBorrowers,FirstTimeHomeBuyerIndicator,BorrowerCreditScoreAtOrigination,PropertyState,ZipCodeShort,CoBorrowerCreditScoreAtOrigination
0,100002091588,OTHER,4.125,345000,360,12/2014,02/2015,95,30.0,32.0,PU,1,0,652.0,NC,282,0.0
2,100004457300,"WELLS FARGO BANK, N.A.",3.875,304000,360,11/2014,01/2015,80,0.0,42.0,SF,1,0,813.0,GA,300,0.0
8,100020572903,OTHER,4.250,348000,360,01/2015,03/2015,70,0.0,42.0,SF,1,1,726.0,TX,787,0.0
16,100040063822,OTHER,4.375,521000,360,12/2014,02/2015,90,25.0,23.0,SF,2,1,783.0,VA,220,807.0
17,100047753781,QUICKEN LOANS INC.,4.875,89000,360,02/2015,04/2015,95,30.0,38.0,SF,1,1,715.0,PA,190,0.0
18,100051904183,OTHER,4.000,261000,360,02/2015,04/2015,95,30.0,36.0,SF,2,0,662.0,KY,400,767.0
20,100056519703,"WELLS FARGO BANK, N.A.",4.500,249000,360,11/2014,01/2015,95,30.0,36.0,SF,1,1,718.0,IL,604,0.0
21,100056908658,OTHER,3.750,90000,180,12/2014,02/2015,60,0.0,37.0,SF,2,0,693.0,NC,284,666.0
26,100069006576,OTHER,4.125,102000,360,12/2014,02/2015,80,0.0,42.0,SF,1,0,812.0,GA,306,0.0
27,100072001017,"WELLS FARGO BANK, N.A.",4.125,230000,360,12/2014,02/2015,80,0.0,34.0,PU,2,1,788.0,AZ,850,784.0
32,100076786221,OTHER,4.750,216000,360,02/2015,04/2015,80,0.0,42.0,SF,1,0,710.0,CA,923,0.0
40,100082931207,OTHER,4.125,199000,360,11/2014,02/2015,85,12.0,42.0,PU,2,0,785.0,OH,441,786.0
46,100097819307,OTHER,3.125,150000,180,12/2014,02/2015,70,0.0,8.0,PU,1,0,764.0,NC,275,0.0
47,100097918224,"WELLS FARGO BANK, N.A.",4.500,117000,360,12/2014,02/2015,90,25.0,43.0,PU,1,1,742.0,FL,330,0.0
48,100100420050,OTHER,4.000,93000,360,01/2015,03/2015,95,16.0,42.0,CO,1,0,653.0,WI,531,0.0
49,100100709559,OTHER,4.875,290000,360,02/2015,04/2015,95,30.0,42.0,SF,1,0,624.0,ND,587,0.0
64,100125690708,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.250,233000,360,12/2014,02/2015,95,30.0,39.0,CO,1,0,797.0,FL,336,0.0
70,100147427486,"WELLS FARGO BANK, N.A.",3.875,233000,360,01/2015,03/2015,80,0.0,22.0,SF,1,0,806.0,NV,894,0.0
71,100149144521,OTHER,3.750,343000,360,01/2015,03/2015,95,30.0,31.0,SF,2,0,778.0,MN,560,745.0
74,100161217377,OTHER,4.000,100000,360,02/2015,04/2015,39,0.0,49.0,PU,1,0,740.0,SC,290,0.0
76,100168689912,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.250,328000,360,12/2014,02/2015,80,0.0,27.0,CO,1,1,777.0,IL,606,0.0
78,100175250810,OTHER,4.125,115000,360,12/2014,02/2015,90,25.0,18.0,SF,1,1,769.0,VA,243,0.0
81,100181352848,OTHER,5.250,417000,360,01/2015,03/2015,90,25.0,35.0,SF,2,0,655.0,KY,403,641.0
82,100183177137,OTHER,4.125,90000,360,01/2015,03/2015,80,0.0,25.0,SF,1,1,690.0,GA,305,0.0
83,100183896117,OTHER,4.375,167000,360,12/2014,02/2015,95,30.0,43.0,SF,1,1,776.0,CA,959,0.0
86,100192633501,FRANKLIN AMERICAN MORTGAGE COMPANY,3.500,244000,360,02/2015,04/2015,80,0.0,28.0,SF,1,1,721.0,TN,372,0.0
89,100199050429,OTHER,3.000,180000,180,11/2014,01/2015,68,0.0,25.0,PU,1,0,813.0,IN,461,0.0
93,100204189319,OTHER,4.125,272000,360,01/2015,03/2015,80,0.0,35.0,PU,2,0,780.0,KS,662,773.0
95,100214261842,SUNTRUST MORTGAGE INC.,4.375,569000,360,01/2015,03/2015,90,25.0,36.0,CO,2,1,773.0,CA,926,759.0
96,100221969193,OTHER,4.125,191000,360,02/2015,04/2015,89,25.0,42.0,PU,2,0,769.0,SC,295,819.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449093,999923056570,SUNTRUST BANK,5.125,389000,360,07/2018,09/2018,95,30.0,44.0,PU,2,0,732.0,DE,197,720.0
449094,999923449201,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.375,159000,360,04/2018,06/2018,95,16.0,38.0,SF,1,1,689.0,OH,430,0.0
449095,999925599662,"WELLS FARGO BANK, N.A.",4.625,160000,360,07/2018,09/2018,56,0.0,14.0,PU,2,0,786.0,SC,298,793.0
449096,999925932124,"WELLS FARGO BANK, N.A.",4.750,340000,360,06/2018,08/2018,97,25.0,27.0,SF,2,0,752.0,NM,880,775.0
449098,999929455256,"WELLS FARGO BANK, N.A.",4.875,220000,360,06/2018,08/2018,80,0.0,29.0,PU,1,0,755.0,ID,838,0.0
449102,999935630934,OTHER,4.875,209000,360,09/2018,11/2018,97,35.0,18.0,PU,2,1,808.0,LA,711,808.0
449103,999938442599,"UNITED SHORE FINANCIAL SERVICES, LLC D/B/A UNI...",5.000,104000,360,09/2018,11/2018,95,30.0,34.0,SF,1,1,770.0,PA,187,0.0
449106,999947990202,FREEDOM MORTGAGE CORP.,4.625,190000,360,05/2018,07/2018,58,0.0,33.0,SF,1,0,801.0,UT,840,0.0
449107,999949428332,PENNYMAC CORP.,4.500,323000,360,07/2018,09/2018,95,30.0,28.0,PU,1,1,736.0,NC,275,0.0
449110,999953563773,"WELLS FARGO BANK, N.A.",4.625,375000,360,08/2018,10/2018,74,0.0,42.0,SF,1,0,742.0,CA,945,0.0
449111,999953570632,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5.125,124000,360,06/2018,08/2018,80,0.0,46.0,CO,1,1,686.0,IL,604,0.0
449113,999959398110,"WELLS FARGO BANK, N.A.",4.875,177000,360,07/2018,09/2018,70,0.0,38.0,CO,1,0,660.0,GA,300,0.0
449114,999962361460,OTHER,4.875,180000,360,04/2018,06/2018,71,0.0,44.0,PU,1,0,757.0,TX,750,0.0
449115,999963250337,OTHER,4.000,198000,360,06/2018,08/2018,90,12.0,37.0,SF,1,1,733.0,CT,60,0.0
449117,999967044443,OTHER,4.875,184000,360,06/2018,08/2018,80,0.0,43.0,SF,2,0,710.0,NC,275,701.0
449121,999975142033,OTHER,4.750,250000,360,08/2018,10/2018,87,25.0,41.0,SF,2,0,815.0,NC,283,793.0
449122,999975355301,SUNTRUST BANK,4.750,188000,360,06/2018,08/2018,80,0.0,22.0,SF,1,1,705.0,MD,212,0.0
449123,999976389963,"WELLS FARGO BANK, N.A.",4.500,360000,360,06/2018,08/2018,90,25.0,37.0,SF,1,0,773.0,PA,193,0.0
449124,999976656364,OTHER,4.750,369000,360,08/2018,10/2018,90,25.0,45.0,PU,1,0,763.0,WA,984,0.0
449132,999989251717,OTHER,4.875,140000,360,07/2018,09/2018,85,12.0,21.0,SF,1,1,757.0,NE,681,0.0
449133,999989399171,OTHER,4.875,162000,360,07/2018,09/2018,93,30.0,29.0,SF,2,0,716.0,IL,609,718.0
449134,999989946003,OTHER,4.750,135000,360,08/2018,10/2018,95,30.0,34.0,SF,1,1,800.0,IN,471,0.0
449135,999991313543,FREEDOM MORTGAGE CORP.,4.500,347000,360,08/2018,10/2018,95,30.0,35.0,PU,1,0,689.0,WA,992,0.0
449136,999992909092,U.S. BANK N.A.,5.750,236000,360,06/2018,08/2018,97,18.0,49.0,PU,1,1,792.0,NV,891,0.0
449137,999993109200,"WELLS FARGO BANK, N.A.",4.250,229000,360,06/2018,08/2018,85,12.0,19.0,SF,2,1,800.0,PA,152,787.0
449138,999994412360,OTHER,4.375,420000,360,08/2018,10/2018,70,0.0,26.0,SF,1,0,804.0,CO,802,0.0
449139,999994662750,FAIRWAY INDEPENDENT MORTGAGE CORPORATION,5.500,86000,360,07/2018,09/2018,80,0.0,11.0,MH,2,1,773.0,OH,444,723.0
449140,999994825330,OTHER,4.250,72000,360,05/2018,07/2018,85,12.0,17.0,SF,2,1,764.0,IN,466,819.0
449141,999994889124,OTHER,4.625,136000,360,06/2018,08/2018,80,0.0,27.0,PU,1,1,697.0,IL,605,0.0
449142,999997895813,OTHER,4.375,284000,360,08/2018,10/2018,85,12.0,48.0,PU,1,0,790.0,AR,727,0.0

In [10]:
#Drop rows with NaN
acq_clean=acq_clean.dropna()

In [11]:
acq_clean['FirstTimeHomeBuyerIndicator'].unique()
#Fannie Mae does not specify how to treat U so this field will become categorical

array([0, 1], dtype=int64)

In [12]:
#Reduce dtype size and chage objects

acq_clean['SellerName']=pd.Categorical(acq_clean['SellerName'], ordered= True)
acq_clean['OriginalInterestRate']=pd.to_numeric(acq_clean['OriginalInterestRate'], errors='coerce').astype(np.float32)
acq_clean['OriginalUPB']=pd.to_numeric(acq_clean['OriginalUPB'], errors='coerce').astype(np.int32)
acq_clean['OriginalLoanTerm']=pd.to_numeric(acq_clean['OriginalLoanTerm'], errors='coerce').astype(np.int32)
acq_clean['OriginationDate']=pd.to_datetime(acq_clean['OriginationDate'], format= '%m%Y',errors='ignore')  
acq_clean['FirstPaymentDate']=pd.to_datetime(acq_clean['FirstPaymentDate'], format= '%m%Y',errors='ignore')
acq_clean['OriginalLoanToValueLTV']=pd.to_numeric(acq_clean['OriginalLoanToValueLTV'], errors='coerce').astype(np.int32)
acq_clean['PrimaryMortgageInsurancePercent']=pd.to_numeric(acq_clean['PrimaryMortgageInsurancePercent'], errors='coerce').astype(np.int32)
acq_clean['OriginalDebtToIncomeRatio']=pd.to_numeric(acq_clean['OriginalDebtToIncomeRatio'], errors='coerce').round().astype(np.int32)
acq_clean['NumberofBorrowers']=pd.to_numeric(acq_clean['NumberofBorrowers'], errors='coerce').astype(np.int32)
#acq_clean['FirstTimeHomeBuyerIndicator']=pd.to_numeric(acq_clean['FirstTimeHomeBuyerIndicator'], errors='coerce').astype(np.int32)
acq_clean['BorrowerCreditScoreAtOrigination']=pd.to_numeric(acq_clean['BorrowerCreditScoreAtOrigination'], errors='coerce').round().astype(np.int32)
acq_clean['PropertyState']=pd.Categorical(acq_clean['PropertyState'], ordered= True)
acq_clean['ZipCodeShort']=pd.to_numeric(acq_clean['ZipCodeShort'], errors='coerce').astype(np.int32)
acq_clean['CoBorrowerCreditScoreAtOrigination']=pd.to_numeric(acq_clean['CoBorrowerCreditScoreAtOrigination'], errors='coerce').round().astype(np.int32)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
#Check new data types
acq_clean.dtypes

#Double Check Nulls
#acq_clean.apply(lambda x: x.isnull().sum, axis=0)

LoanIdentifier                           int64
SellerName                            category
OriginalInterestRate                   float32
OriginalUPB                              int32
OriginalLoanTerm                         int32
OriginationDate                         object
FirstPaymentDate                        object
OriginalLoanToValueLTV                   int32
PrimaryMortgageInsurancePercent          int32
OriginalDebtToIncomeRatio                int32
PropertyType                            object
NumberofBorrowers                        int32
FirstTimeHomeBuyerIndicator              int64
BorrowerCreditScoreAtOrigination         int32
PropertyState                         category
ZipCodeShort                             int32
CoBorrowerCreditScoreAtOrigination       int32
dtype: object

In [14]:
#Last look at DF before saving
acq_clean

,LoanIdentifier,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,PrimaryMortgageInsurancePercent,OriginalDebtToIncomeRatio,PropertyType,NumberofBorrowers,FirstTimeHomeBuyerIndicator,BorrowerCreditScoreAtOrigination,PropertyState,ZipCodeShort,CoBorrowerCreditScoreAtOrigination
0,100002091588,OTHER,4.125,345000,360,12/2014,02/2015,95,30,32,PU,1,0,652,NC,282,0
2,100004457300,"WELLS FARGO BANK, N.A.",3.875,304000,360,11/2014,01/2015,80,0,42,SF,1,0,813,GA,300,0
8,100020572903,OTHER,4.250,348000,360,01/2015,03/2015,70,0,42,SF,1,1,726,TX,787,0
16,100040063822,OTHER,4.375,521000,360,12/2014,02/2015,90,25,23,SF,2,1,783,VA,220,807
17,100047753781,QUICKEN LOANS INC.,4.875,89000,360,02/2015,04/2015,95,30,38,SF,1,1,715,PA,190,0
18,100051904183,OTHER,4.000,261000,360,02/2015,04/2015,95,30,36,SF,2,0,662,KY,400,767
20,100056519703,"WELLS FARGO BANK, N.A.",4.500,249000,360,11/2014,01/2015,95,30,36,SF,1,1,718,IL,604,0
21,100056908658,OTHER,3.750,90000,180,12/2014,02/2015,60,0,37,SF,2,0,693,NC,284,666
26,100069006576,OTHER,4.125,102000,360,12/2014,02/2015,80,0,42,SF,1,0,812,GA,306,0
27,100072001017,"WELLS FARGO BANK, N.A.",4.125,230000,360,12/2014,02/2015,80,0,34,PU,2,1,788,AZ,850,784
32,100076786221,OTHER,4.750,216000,360,02/2015,04/2015,80,0,42,SF,1,0,710,CA,923,0
40,100082931207,OTHER,4.125,199000,360,11/2014,02/2015,85,12,42,PU,2,0,785,OH,441,786
46,100097819307,OTHER,3.125,150000,180,12/2014,02/2015,70,0,8,PU,1,0,764,NC,275,0
47,100097918224,"WELLS FARGO BANK, N.A.",4.500,117000,360,12/2014,02/2015,90,25,43,PU,1,1,742,FL,330,0
48,100100420050,OTHER,4.000,93000,360,01/2015,03/2015,95,16,42,CO,1,0,653,WI,531,0
49,100100709559,OTHER,4.875,290000,360,02/2015,04/2015,95,30,42,SF,1,0,624,ND,587,0
64,100125690708,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.250,233000,360,12/2014,02/2015,95,30,39,CO,1,0,797,FL,336,0
70,100147427486,"WELLS FARGO BANK, N.A.",3.875,233000,360,01/2015,03/2015,80,0,22,SF,1,0,806,NV,894,0
71,100149144521,OTHER,3.750,343000,360,01/2015,03/2015,95,30,31,SF,2,0,778,MN,560,745
74,100161217377,OTHER,4.000,100000,360,02/2015,04/2015,39,0,49,PU,1,0,740,SC,290,0
76,100168689912,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.250,328000,360,12/2014,02/2015,80,0,27,CO,1,1,777,IL,606,0
78,100175250810,OTHER,4.125,115000,360,12/2014,02/2015,90,25,18,SF,1,1,769,VA,243,0
81,100181352848,OTHER,5.250,417000,360,01/2015,03/2015,90,25,35,SF,2,0,655,KY,403,641
82,100183177137,OTHER,4.125,90000,360,01/2015,03/2015,80,0,25,SF,1,1,690,GA,305,0
83,100183896117,OTHER,4.375,167000,360,12/2014,02/2015,95,30,43,SF,1,1,776,CA,959,0
86,100192633501,FRANKLIN AMERICAN MORTGAGE COMPANY,3.500,244000,360,02/2015,04/2015,80,0,28,SF,1,1,721,TN,372,0
89,100199050429,OTHER,3.000,180000,180,11/2014,01/2015,68,0,25,PU,1,0,813,IN,461,0
93,100204189319,OTHER,4.125,272000,360,01/2015,03/2015,80,0,35,PU,2,0,780,KS,662,773
95,100214261842,SUNTRUST MORTGAGE INC.,4.375,569000,360,01/2015,03/2015,90,25,36,CO,2,1,773,CA,926,759
96,100221969193,OTHER,4.125,191000,360,02/2015,04/2015,89,25,42,PU,2,0,769,SC,295,819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449093,999923056570,SUNTRUST BANK,5.125,389000,360,07/2018,09/2018,95,30,44,PU,2,0,732,DE,197,720
449094,999923449201,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",4.375,159000,360,04/2018,06/2018,95,16,38,SF,1,1,689,OH,430,0
449095,999925599662,"WELLS FARGO BANK, N.A.",4.625,160000,360,07/2018,09/2018,56,0,14,PU,2,0,786,SC,298,793
449096,999925932124,"WELLS FARGO BANK, N.A.",4.750,340000,360,06/2018,08/2018,97,25,27,SF,2,0,752,NM,880,775
449098,999929455256,"WELLS FARGO BANK, N.A.",4.875,220000,360,06/2018,08/2018,80,0,29,PU,1,0,755,ID,838,0
449102,999935630934,OTHER,4.875,209000,360,09/2018,11/2018,97,35,18,PU,2,1,808,LA,711,808
449103,999938442599,"UNITED SHORE FINANCIAL SERVICES, LLC D/B/A UNI...",5.000,104000,360,09/2018,11/2018,95,30,34,SF,1,1,770,PA,187,0
449106,999947990202,FREEDOM MORTGAGE CORP.,4.625,190000,360,05/2018,07/2018,58,0,33,SF,1,0,801,UT,840,0
449107,999949428332,PENNYMAC CORP.,4.500,323000,360,07/2018,09/2018,95,30,28,PU,1,1,736,NC,275,0
449110,999953563773,"WELLS FARGO BANK, N.A.",4.625,375000,360,08/2018,10/2018,74,0,42,SF,1,0,742,CA,945,0
449111,999953570632,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",5.125,124000,360,06/2018,08/2018,80,0,46,CO,1,1,686,IL,604,0
449113,999959398110,"WELLS FARGO BANK, N.A.",4.875,177000,360,07/2018,09/2018,70,0,38,CO,1,0,660,GA,300,0
449114,999962361460,OTHER,4.875,180000,360,04/2018,06/2018,71,0,44,PU,1,0,757,TX,750,0
449115,999963250337,OTHER,4.000,198000,360,06/2018,08/2018,90,12,37,SF,1,1,733,CT,60,0
449117,999967044443,OTHER,4.875,184000,360,06/2018,08/2018,80,0,43,SF,2,0,710,NC,275,701
449121,999975142033,OTHER,4.750,250000,360,08/2018,10/2018,87,25,41,SF,2,0,815,NC,283,793
449122,999975355301,SUNTRUST BANK,4.750,188000,360,06/2018,08/2018,80,0,22,SF,1,1,705,MD,212,0
449123,999976389963,"WELLS FARGO BANK, N.A.",4.500,360000,360,06/2018,08/2018,90,25,37,SF,1,0,773,PA,193,0
449124,999976656364,OTHER,4.750,369000,360,08/2018,10/2018,90,25,45,PU,1,0,763,WA,984,0
449132,999989251717,OTHER,4.875,140000,360,07/2018,09/2018,85,12,21,SF,1,1,757,NE,681,0
449133,999989399171,OTHER,4.875,162000,360,07/2018,09/2018,93,30,29,SF,2,0,716,IL,609,718
449134,999989946003,OTHER,4.750,135000,360,08/2018,10/2018,95,30,34,SF,1,1,800,IN,471,0
449135,999991313543,FREEDOM MORTGAGE CORP.,4.500,347000,360,08/2018,10/2018,95,30,35,PU,1,0,689,WA,992,0
449136,999992909092,U.S. BANK N.A.,5.750,236000,360,06/2018,08/2018,97,18,49,PU,1,1,792,NV,891,0
449137,999993109200,"WELLS FARGO BANK, N.A.",4.250,229000,360,06/2018,08/2018,85,12,19,SF,2,1,800,PA,152,787
449138,999994412360,OTHER,4.375,420000,360,08/2018,10/2018,70,0,26,SF,1,0,804,CO,802,0
449139,999994662750,FAIRWAY INDEPENDENT MORTGAGE CORPORATION,5.500,86000,360,07/2018,09/2018,80,0,11,MH,2,1,773,OH,444,723
449140,999994825330,OTHER,4.250,72000,360,05/2018,07/2018,85,12,17,SF,2,1,764,IN,466,819
449141,999994889124,OTHER,4.625,136000,360,06/2018,08/2018,80,0,27,PU,1,1,697,IL,605,0
449142,999997895813,OTHER,4.375,284000,360,08/2018,10/2018,85,12,48,PU,1,0,790,AR,727,0

### SAVE DF TO .TXT

In [15]:
acq_clean.to_csv(r'all_acq_data.txt', header=False, index=False, sep='|')

# Quick Exploration

### Decriptive stats

In [16]:
#Original Interest Rate
acq_clean.OriginalInterestRate.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean           4.119792
std            0.498767
min            1.990000
25%            3.750000
50%            4.125000
75%            4.375000
max            6.625000
Name: OriginalInterestRate, dtype: object

In [17]:
# Original UPB
acq_clean.OriginalUPB.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean      228247.089300
std       120787.966494
min         8000.000000
25%       136000.000000
50%       204000.000000
75%       300000.000000
max      1307000.000000
Name: OriginalUPB, dtype: object

In [18]:
#Original Loan To Value (LTV)
acq_clean.OriginalLoanToValueLTV.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean          83.847807
std           13.864107
min            5.000000
25%           80.000000
50%           88.000000
75%           95.000000
max           97.000000
Name: OriginalLoanToValueLTV, dtype: object

In [19]:
#OriginalDebtToIncomeRatio
acq_clean.OriginalDebtToIncomeRatio.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean          34.321532
std            8.973453
min            1.000000
25%           28.000000
50%           35.000000
75%           42.000000
max           51.000000
Name: OriginalDebtToIncomeRatio, dtype: object

In [20]:
#Borrower Credit Score At Origination
acq_clean.BorrowerCreditScoreAtOrigination.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean         751.605939
std           45.801400
min          445.000000
25%          720.000000
50%          761.000000
75%          790.000000
max          850.000000
Name: BorrowerCreditScoreAtOrigination, dtype: object

In [21]:
##Lowest Credit Score ENTER A CREDIT SCORE NUMBER
acq_clean.loc[acq_clean['BorrowerCreditScoreAtOrigination']==445]

,LoanIdentifier,SellerName,OriginalInterestRate,OriginalUPB,OriginalLoanTerm,OriginationDate,FirstPaymentDate,OriginalLoanToValueLTV,PrimaryMortgageInsurancePercent,OriginalDebtToIncomeRatio,NumberofBorrowers,FirstTimeHomeBuyerIndicator,BorrowerCreditScoreAtOrigination,PropertyState,ZipCodeShort,CoBorrowerCreditScoreAtOrigination
348462,753481824422,OTHER,3.625,96000,360,12/2016,02/2017,80,0,39,1,0,445,IL,622,0

In [22]:
#First Time Home Buyer Indicator
#Number of First Time Home Buyers
len(acq_clean[acq_clean.FirstTimeHomeBuyerIndicator==1])

885452

In [23]:
#Co-Borrower Credit Score At Origination
acq_clean.CoBorrowerCreditScoreAtOrigination.describe().apply(lambda x: format(x, 'f'))

count    1783849.000000
mean         358.937140
std          379.357211
min            0.000000
25%            0.000000
50%            0.000000
75%          764.000000
max          839.000000
Name: CoBorrowerCreditScoreAtOrigination, dtype: object

In [ ]:
#acq_colms=['LoanIdentifier','SellerName','OriginalInterestRate','OriginalUPB','OriginalLoanTerm','OriginationDate','FirstPaymentDate','OriginalLoanToValueLTV','PrimaryMortgageInsurancePercent','OriginalDebtToIncomeRatio','NumberofBorrowers','FirstTimeHomeBuyerIndicator','BorrowerCreditScoreAtOrigination','PropertyState','ZipCodeShort','CoBorrowerCreditScoreAtOrigination']
#acq_data= pd.read_csv('all_acq_data.txt', sep='|', header=None, names=acq_colms)